# Name: OCT Volume Averager
# Author: Keith Sheppard
# Version: 1.3.3
# Date: 2013/06/11
# Requires: ImageJ 1.45s

Plugins>OCT Volume Averager, "Register and Average Image Stacks", org.jax.octvolavg.IJPlugin("run")
Plugins>OCT Volume Averager, "Show About and License", org.jax.octvolavg.IJPlugin("showLicense")
Plugins>OCT Volume Averager, "Show Help", org.jax.octvolavg.IJPlugin("help")
